/* overall */
:root {
  --doc-height: 100%;
 }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  scroll-behavior: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  
}

#App {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(0, 2fr); 
  grid-template-rows: minmax(0, 1fr);
  min-width: 200px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

/* grid areas */

#left {
  height: 100%;
  position: relative;
  grid-column: 1;
  grid-row: 0;
  height: 100%;
}

#left-content {

  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 50px;
  text-align: justify;
  background-color: #f3f3f3;
  color: #2d2d2d;
  min-width: 280px;
}

#right {
  grid-row: 1;
  grid-column: 2;

  display: grid;
  justify-content: center;
  align-items: center;
  
}

#right-container {

  height: 50vw;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
  display: grid;
  justify-content: center;
  align-items: center;


}

#right-container > div {
  margin: auto;
  display: grid;
  width: 90%;
  height: 90%;
}

#right-container > img {
  margin: auto;
  display: grid;

  width: 90%;

}

.img-container {
  display: grid;
  margin-bottom: 20px;

}

#right-container:has(> :nth-child(1):last-child) {
  max-width: 600px;
  max-height: 600px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


#right-container:has(> :nth-child(2):last-child) {
  max-width: 800px;
  max-height: 800px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

#right-container:has(> :nth-child(3):last-child) {
  max-width: 800px;
  max-height: 800px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#right-container:has(> :nth-child(4):last-child) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}








#header {
  grid-row: 1;
  padding: 20px;
  padding-bottom: 0;
}

#content{
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  grid-row: 2;
  padding: 20px;
  padding-top: 0;
  overflow: scroll;
  z-index: 0;
}

#footer {
  grid-row: 3;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  user-select: none;

}

#footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  font-weight: 900;
}

#footer div:hover {
  background-color: #e7e7e7;
}





/* media responsive for sketch */








/* headers and paragraphs */

h1 {
  text-align:left;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

h2 {
  text-align:left;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
}

#byline {
  color: rgb(175, 13, 175);
  font-weight: 300;
  font-size: 14px;

}



img {
  width: 50%;
  border-radius: 5px;
  border: 2px solid #2d2d2d;
  margin: auto;
}

/* removes border form images */
.right-img {
  border: none;
  margin: auto;
  width: 90%;

}

/* added classes */

.disabled {
  color: #cacaca;
  pointer-events: none;
}

b {
  color: rgb(175, 13, 175);
  font-weight: 400;
}


.code {
  border-radius: 5px;
  margin-bottom: 20px;
  max-height: 200px;

}

.linenumber {
  text-align: left !important;
  color: rgba(255,255,255,25%);

}

/* .span {
  padding: 0 !important;
  min-width: 2em !important;

} */

p,li > code {
  font-size: 16px;

}

.codeBtn {
  height: 30px;
  border: none;
  background-color: rgb(175, 13, 175);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.codeBtn:hover {
  height: 30px;
  border: none;
  background-color: rgb(138, 10, 138);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.codeBtnGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.bottom {
  margin-bottom: 50px;
}


.quiz-container {
  background-color: #161616;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px 10px;
  margin-bottom: 20px;
  color: white;
}

.responseBtn {
  background-color: rgb(169, 98, 244);
  color: white;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.responseBtn:hover {
  background-color: rgb(129, 65, 196);

}


.question {
  text-align: center;
}

.quiz-disabled > button {
  background-color: rgb(100, 100, 100);
  pointer-events: none;
}

.correct-answer.correct-answer {
  background-color: rgb(65, 196, 102);
}

.wrong-answer.wrong-answer {
  background-color: rgb(223, 65, 65);
}

#quiz-status {
  font-size: 12px;

  text-align: center;
}

.math {
  display: inline !important;
}



.math-container {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;

}


.math-container span {
  padding: 8px 4px;
  border-radius: 4px;
  line-height: 60px;
  text-align: center;

}


.eq_1 {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(195, 0, 255, 0.25);
}
.eq_2 {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(4, 255, 0, 0.25);
}

.eq_3 {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(255, 166, 0, 0.25);
}

.eq_4 {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.25);
}

.eq_5 {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(0, 247, 255, 0.25);
}

.eq_6 {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: rgba(4, 0, 255, 0.25);
}

li {
  margin-bottom: 20px;
}


/* Colors */

.red {
  background-color: rgb(223, 65, 65);
}

.red:hover {
  background-color: rgb(201, 57, 57);
}

.blue {
  background-color: rgb(65, 141, 223);
}

.blue:hover {
  background-color:rgb(53, 119, 190);
}


.grey {
  background-color: rgb(100, 100, 100);

}

.grey:hover {
  background-color: rgb(80, 80, 80);

}

.green {
  background-color: rgb(65, 196, 102);
}

.green:hover {
  background-color: rgb(56, 170, 89);
}

.controls {
  display: grid;
  gap: 10px;
  padding: 20px;
  color: white;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  background-color: #161616;
  margin-bottom: 20px;
}

.control {
  display: flex;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

input[type=number] {
  width: 50px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  text-align: center;
  font-family: monospace;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=checkbox] {
  accent-color: rgb(169, 98, 244);
  width: 20px;
  outline: none;
  border: none !important;
  
}

li {
  margin: 10px 0px;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* break points for responsive */
@media screen and (max-width: 650px) {
  #App {
    grid-template-columns: minmax(0, 1fr); 
  grid-template-rows: minmax(0, 2fr)  minmax(0, 2fr);;

  }
  #left {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
  }

  #right {

    grid-column: 1;
    grid-row: 1;
  }

  .right-img {
    width: 90%;
  }

  .math-container {
    font-size: 4vw;
  
  }

  .math-container span {
    padding: 4px 4px;
    border-radius: 4px;
    line-height:40px;
  
  }

  #right-container {
    height: 50vw;
    width: 50vw;
  }

  h1 {
    font-size: 16px;
    opacity: .75;
    margin-bottom: 0;
    line-height: 16px;
    font-weight: 400;
  }

  #byline {
    font-size: 12px;
    margin-bottom: 0;
    opacity: .75;
   
  }



}

@media screen and (max-width: 440px) {


  #right-container {
    height: 80vw;
    width: 80vw;
  }



}

@media (pointer:none), (pointer:coarse) {
  #footer div:hover {
    background-color: #f3f3f3;
  }
  #footer div:active {
    background-color: #e7e7e7;
  }

  .codeBtn:hover {
    background-color: rgb(175, 13, 175);
  }

  .codeBtn:active {
    color: white;
    background-color: rgb(138, 10, 138);

  }
  .red:hover {
    background-color: rgb(223, 65, 65);
  }
  
  .red:active {
    background-color: rgb(201, 57, 57);
  }
  
  .blue:hover {
    background-color: rgb(65, 141, 223);
  }
  
  .blue:active {
    background-color:rgb(53, 119, 190);
  }
  
  
  .grey:hover {
    background-color: rgb(100, 100, 100);
  
  }
  
  .grey:active {
    background-color: rgb(80, 80, 80);
  
  }
  
  .green:hover {
    background-color: rgb(65, 196, 102);
  }
  
  .green:active {
    background-color: rgb(56, 170, 89);
  }
}
